body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.home-icon {
    width: 40px;
    height: 35px;
    cursor: pointer;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin-top: 80px;
}


.content-box {
    background-color: #d8eef4;
    border-radius: 15px;
    padding: 60px; 
    width: 100%;
    text-align: justify;
    color: black;
    font-size: 18px;
    line-height: 1.8;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
    flex: 1;
}


.btn-finalizar {
    background-color: #63b1b8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.btn-finalizar:hover {
    background-color: #286e74;
}


.golfinho {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px; 
    z-index: 0;
}
