body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    text-align: right;
    padding: 20px;
}

.home-icon {
    width: 50px;width: 40px;
    height: 35px;
    cursor: pointer;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

h1 {
    color: #63b1b8;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.text-content {
    font-size: 1.1em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.main-image {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
}


.continue-button {
    background-color: #63b1b8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    transition: 0.5s;
}

.continue-button:hover {
    background-color: #286e74;
}
