body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Cor de fundo azul claro */
}

.container {
    display: flex;
    height: 100vh;
}

header {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    background-color: white; /* Fundo branco do card */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-item {
    display: flex;
    justify-content: space-between;
    padding: 15px; /* Aumenta o espaçamento interno */
    border-bottom: 1px solid #eee;
    font-size: 1.1em; /* Aumenta o tamanho da fonte */
}

.card-item:last-child {
    border-bottom: none;
}

.checkmark {
    color: green;
    font-size: 1.2em; /* Aumenta o tamanho do checkmark */
}

aside {
    background-color: #e0e0e0;
    padding: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dolphin {
    width: 180px; /* Aumenta o tamanho do golfinho */
}